body {
    background-color: hsl(217, 52%, 88%);
    font-family: 'Outfit', sans-serif;
}

main {
    display: flex;
    justify-content: center;
}

.card {
    width: 270px;
    height: 430px;
    background-color: white;
    padding: 0.9rem;
    border-radius: 20px;
    margin: 130px;
}

.img-QR {
    max-width: 100%;
    border: 0;
    border-radius: 10px;
}

.title {
    text-align: center;
    font-size: 20px;
    color: hsl(207, 12%, 18%);
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
} 

.paragraph {
    text-align: center;
    font-size: 13px;
    color: hsl(213, 11%, 51%);
    font-weight: 400;
    margin-left: 20px;
    margin-right: 20px;
}
